<nav class="topnav navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-lg">
    <div class="container">
        <a class="navbar-brand" href="/">13circle Portfolio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="project-menu dropdown-menu dropdown-menu-right shadow-lg border-0" aria-labelledby="navbarDropdownPortfolio">
                        <!--
                        <a class="dropdown-item" href="#">Menu 1</a>
                        <a class="dropdown-item" href="#">Menu 2</a>
                        -->
                    </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>